<div class="col-xs-10 col-xs-offset-1 about">
	 <h1>About Splurty</h1>
	 <p>
	  	Splurty was built by <a target="_blank" href="http://github.com/sengngo">Seng</a> A developer on a mission to spread the joys of traveling with his photography, inspiration quotes and stories.
	 </p>
	  <br />
	 <p>
	  	Seng hasn't traveled that much but he has serious wanderlust and is thinking of traveling the world for much of 2016 and perhaps behing. At the moment is he learning to code in hope that it will allow him the freedom to work abroad. 
	  </p>
	 <p>
	 <!-- The target attribute specifies where to open the linked document -->
	  If you want to learn how to code - start <a target ="_blank" href="http://www.firehoseproject.com/"> here </a>
	 </p>

	<!-- profile -->
	<div class="col-xs-12 col-sm-4">
	  	<%= image_tag 'seng.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Seng Ngo </h2>
		<br />
		<p>
			Seng Ngo is a graphic design and inspiring web developer. He has a strong passion for travel, photography, and creating things. If you'd like to learn more, send a message via  <a target="_blank" href="http://www.facebook.com/seng.ngo.923">facebook</a>
		</p>
	</div>
	<br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />